.kind {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

input {
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

.header_kind_select {
  height: 3rem;
  width: 100%;
}
.header_kind_select .top-search {
  height: 100%;
  width: 25rem;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.2rem;
}
.header_kind_select .top-search .return-view {
  height: 2.933334rem;
  width: 2.66667rem;
  line-height: 2.933rem;
  text-align: center;
}
.header_kind_select .top-search .return-view i {
  font-size: 1.15rem;
  font-weight: bold;
  color: #5d5f6a;
}
.header_kind_select .top-search .title-text {
  height: 2rem;
  width: 19.533rem;
  background-color: #f7f7f7;
  border-radius: 1.2rem;
}
.header_kind_select .top-search .title-text input {
  height: 2rem;
  width: 16.53rem;
  background-color: #f7f7f7;
  padding: 0 0.66rem 0 2.333rem;
  line-height: 2rem;
  border-radius: 1.2rem;
  font-size: 0.8rem;
  margin: 0 0 0 0.666rem;
}

.category_body {
  position: relative;
  height: 38.0667rem;
  width: 25rem;
  margin: 0.04rem auto 0;
  overflow: hidden;
}
.category_body .category_body_left {
  position: absolute;
  height: 38.26rem;
  overflow: hidden;
  width: 5.733334rem;
  left: 0;
  top: 0;
}
.category_body .category_body_left .category {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.category_body .category_body_left .category ul {
  position: absolute;
  top: 0;
  height: 119.6rem;
  width: 5.66667rem;
}
.category_body .category_body_left .category ul li {
  height: 3.066667rem;
  width: 100%;
  line-height: 3.066667rem;
  text-align: center;
}
.category_body .category_body_left .category ul li a {
  display: block;
  height: 100%;
  width: 100%;
  color: #333;
  font-size: 0.93rem;
}
.category_body .category_body_left .category ul .active > a {
  background-color: #FFFFFF;
  color: #E93B3D;
}
.category_body .category_body_right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 19.2667rem;
  background-color: #FFFFFF;
  overflow: hidden;
}
.category_body .category_body_right .category_body_right_list_box {
  height: 53.9334rem;
  width: 100%;
  overflow: hidden;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list {
  position: relative;
  height: 100%;
  width: 18.334rem;
  margin: 1.26667rem  0.466667rem 0;
  display: none;
  overflow: hidden;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list h4 {
  position: absolute;
  height: 0.9334rem;
  left: 0;
  top: 0;
  color: #333333;
  line-height: 0.9334rem;
  font-size: 0.9334rem;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list .good_names {
  display: block;
  height: 0.9334rem;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 0.9334rem;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list .good_names img {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list .good_names span {
  display: inlin-block;
  height: 0.9334rem;
  width: 2rem;
  font-size: 0.8rem;
  margin: 0 0 0 0.2667rem;
  color: #848689;
  height: 0.667rem;
  line-height: 0.9334rem;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list .good_names i {
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.8rem;
  color: #848689;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list .list_action {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 1.5rem;
  overflow: hidden;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list .list_action ul {
  width: 100%;
  padding: 0.4667rem 0.667rem 0;
  margin: 0.6rem auto 0;
  display: flex;
  justify-content: space-between;
  justify-content: left;
  flex-wrap: wrap;
  text-align: center;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list .list_action ul li {
  height: 7.1334rem;
  width: 5.575334rem;
  display: flex;
  justify-content: center;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list .list_action ul li a img {
  height: 4.667rem;
  width: 4.667rem;
}
.category_body .category_body_right .category_body_right_list_box .commodity_list .list_action ul li a span {
  display: block;
  height: 2.334rem;
  width: 5.575334rem;
  margin: 0.1334rem 0 0;
  font-size: 0.8rem;
  color: #333333;
}
.category_body .category_body_right .category_body_right_list_box .panel_selsect {
  display: block;
}

/*# sourceMappingURL=kind.css.map */
