.shop_cart{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
input{
	outline: 0;
	margin: 0;
	padding: 0;
	border: 0;
}

.header_shop_cart{
	// position: absolute;
	// top: 0;
	height: 3rem;
	width: 100%;
	
	.top-speak{
		height: 100%;
		width: 25rem;
		margin: 0 auto;
		background-color: white;
		display: flex;
		justify-content: space-between;
		font-size: 1.2rem;
		.return-view{
			height: 2.933rem;
			width:2.66rem ;
			line-height: 2.933rem;
			text-align: center;
			i{
				font-size: 1.4rem;
			}
		}
		.title-text{
			height: 2.933rem;
			width: 15.66rem;
			text-align: center;
			line-height: 2.933rem;
			span{
			}
			
		}
		.more-nav{
			position: relative;
			height: 2.933rem;
			width:2.66rem ;
			span{
				display:block;
				font-size: 2rem;
				height: 1.3rem;
				width: 1.3rem;
				margin: 0.8rem 0.8rem 0.8rem 0.66rem;
				line-height: 0rem;
			}
			.more{
				position: absolute;
				 color: #000000; 
				 width:8.3rem; 
				 height: 13.334rem;
				 left: -6.5rem;
				 top: 4rem;
				 z-index: 999;
				 display: block;
				 color: #FFFFFF;
				background-color: rgba(12,12,12,1);
				border-radius: 0.2rem;
				display: none;
				.line-more{
					position: relative;
					font-size: 0.8334rem;
					width: 100%;
					height: 2.667rem;
					display: flex;
					justify-content: left;
					align-items: center;
					padding: 0 0 0 2.667rem;
					span{
						display: block;
						width: 100%;
						height: 2.6667rem;
						line-height: 2.667rem;
						font-size: 0.9334rem;
						text-align: left;
						margin: 0;
					}
				} 
				.line-more::after{
					position: absolute;
					content: "";
					width: 5.667rem;
					height: 0.0667rem;
					background-color: hsla(0,0%,100%,.2);
					bottom: 0;
					right: 0;
				}
				.line-more:nth-child(1)::before{
					position: absolute;
					content: "";
					width: 2.5rem;
					height: 2.5rem;
					background: url(../img/jd-buycart/fl/1.png) no-repeat;
					left: 0;
					transform: scale(0.5);
				}
				.line-more:nth-child(2)::before{
					position: absolute;
					content: "";
					width: 2.5rem;
					height: 2.5rem;
					background: url(../img/jd-buycart/fl/2.png) no-repeat;
					left: 0;
					transform: scale(0.5);
				}
				.line-more:nth-child(3)::before{
					position: absolute;
					content: "";
					width: 2.5rem;
					height: 2.5rem;
					background: url(../img/jd-buycart/fl/3.png) no-repeat;
					left: 0;
					transform: scale(0.5);
				}
				.line-more:nth-child(4)::before{
					position: absolute;
					content: "";
					width: 2.5rem;
					height: 2.5rem;
					background: url(../img/jd-buycart/fl/4.png) no-repeat;
					left: 0;
					transform: scale(0.5);
				}
				.line-more:nth-child(5)::before{
					position: absolute;
					content: "";
					width: 2.5rem;
					height: 2.5rem;
					background: url(../img/jd-buycart/fl/5.png) no-repeat;
					left: 0;
					transform: scale(0.5);
				}
				
			}	
			.more::before{
				position: absolute;
				    top: -5px;
				    right: 7px;
				    content: "";
				    width: 0;
				    height: 0;
				    border-color: transparent transparent rgba(0,0,0,.9);
				    border-style: solid;
				    border-width: 0 5px 5px;
			}
		}
	}
	
}

.address_bar_warp{
	width: 100%;
	height: 3.265rem;
	position: sticky;
	top: -0.1rem;
	left: 0;
	z-index: 2;
	.address_bar{
		height: 100%;
		width: 25rem;
		font-size: 0.8667rem;
		margin: 0.05rem auto;
		background-color: #FFFFFF;
		color: #262626;
		padding: 0 1.2rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-bottom-left-radius:0.6rem;
		border-bottom-right-radius: 0.6rem;
		.address_bar_text{
			position: relative;
			height: 100%;
			width: 17.938rem;
			padding: 0 1.2rem;
			line-height: 3.265rem;
		}
		.address_bar_text::before{
			position: absolute;
			display: block;
			content: "";
			width: 2.2rem;
			height:2.2rem;
			background: url(../img/jd-buycart/6.png);
			transform: scale(0.5);
			left: -0.5rem;
			top: 0.5rem;
			line-height: 2.2rem;
		}
		.address_bar_text::after{
			position: absolute;
			content: "";
			width: 0.067rem;
			height:0.667rem;
			background-color: #bfbfbf;
			right: 0;
			top: 1.3332rem;
		}
		
		span{
			height: 100%;
			margin: 0 0 0 1.2rem;
			line-height: 3.265rem;
		}
	}
}

.section_list{
	// height:100%;
	width: 100%;
	.section_item{
		height: 18.456rem;
		width: 25rem;
		margin: 0.8rem auto 0.8rem;
		padding: 0.8rem 0 0.06667rem;
		background-color: #FFFFFF;
		border-radius: 0.6rem;
		font-size: 0.8rem;
		.head_section{
			position: relative;
			// top: 0rem;
			// left: 0;
			// background-color: red;
			height: 2rem;
			width: 100%;
			margin: 0 0 0.8rem;
			padding: 0.4rem 1.2rem 0.4rem 3.33rem;
			display: flex;
			justify-content: space-between;
				
			.dian_name{
				height: 1.2rem;
				margin: 0 0.6667rem 0 0;
				font-weight: bold;
				font-family: arial;
				line-height: 1.2rem;
				display: flex;
				justify-content: space-between;
				img{
					height: 100%;
					line-height: 1.2rem;
				}
				
			}
			.btn{	
					width: 3.2rem;
					height: 1.2rem;
					color: #f2270c;
					font-size: 0.8rem;
					background-color: #fcedeb;
					padding: 0.2rem 0.4rem;
					border-radius: 1.2rem;
					line-height:1rem;
			}
			
		}

		.head_section::before{
			content: "";
			font-family: icomoon;
			position: absolute;
			height: 2.1rem;
			width: 2.1rem;
			left: 0;
			top: 0;
			font-size: 1.4rem;
			margin: 0 0 0 1rem;
			line-height: 1.8rem;
			display: block;
		}
		.head_section::after{
			content: "";
			font-family: icomoon;
			position: absolute;
			height: 3.5rem;
			width: 3.5rem;
			left: -1rem;
			top: -0.75rem;
			font-size: 1.45rem;
			margin: 0 0 0 1rem;
			line-height: 1.8rem;
			transform: scale(0.5);
			background: url(../img/jd-buycart/8.png) no-repeat;
			display: none;
		}
		.item_box{
			height: 14.794rem;
			width: 100%;
			.head_act{
		
				height:1.2rem;
				width: 100%;
				margin: 0 auto 1.2rem;
				padding: 0 1.2rem 0 0; 
				display: flex;
				justify-content: space-around;

				.title{
					height: 1.2rem;
					font-family: arial;
					font-weight: bold;
					display: flex;
					align-items: center;
					line-height: 1.2rem;
					.tap{
						display: inline-block;
						height:0.867rem;
						padding: 0.1rem 0.3rem;
						color: #FFFFFF;
						font-weight: normal;
						background-color: #F2270C;
						border-radius: 0.2rem;

						line-height: 0.867rem;
						
					}
				}
				.head_act_right_text{
						position: relative;
						height: 1.2rem;
						padding: 0 0.8rem 0 0;
						line-height: 1.2rem;
						right: -2rem;
				}
				.head_act_right_text::after{
					content: "";
					font-family: icomoon;
					position: absolute;
					height:0.5334rem;
					width: 0.5334rem;
					line-height: 0.5334rem;
					top: 0.4rem;
					
				}
			}
			
			.item_connect{
				position: relative;
				height:11.191rem;
				width: 100%;
				margin: 0 0 1.2rem;
				padding: 0 1.2rem 0 10.8rem;
				.ridao_selsect{
					position: absolute;
					height: 100%;
					width: 3.33rem;
					left: 0;
					top: 0;
				}
				.ridao_selsect::before{
					content: "";
					font-family: icomoon;
					position: absolute;
					height: 2.1rem;
					width: 2.1rem;
					left: 0;
					top: 2.1rem;
					font-size: 1.4rem;
					margin: 0 0 0 1rem;
					line-height: 1.8rem;
					display: none;
					
				}
				.ridao_selsect::after{
					content: "";
					font-family: icomoon;
					position: absolute;
					height: 3.5rem;
					width: 3.5rem;
					left: -1rem;
					top: 1.3rem;
					font-size: 1.45rem;
					margin: 0 0 0 1rem;
					line-height: 1.8rem;
					transform: scale(0.5);
					background: url(../img/jd-buycart/8.png) no-repeat;
					display: block;
				}

				.image_wrap{
					position: absolute;
					top: 0;
					left: 3.33rem;
					height: 6.6667rem;
					width: 6.6667rem;
					
					img{
						width: 100%;
					}
				}
				.content{
					height: 100%;
					width: 100%;
					color: #262626;
					font-size: 0.8rem;
					.content_text{
						width: 100%;
						height: 2.2rem;
						margin: 0 0 0.4rem;
						-webkit-line-clamp: 2;
						text-overflow: ellipsis;
						display: -webkit-box;
						-webkit-box-orient: vertical;
						overflow: hidden;
						span{
							display: inline-block;
							vertical-align: middle;
							height: 0.93rem;
							margin-right: 3px;
							
							img{
								display: block;
								width: 3.8333rem;
								height: 0.93rem;
							}
						}
					}
					.content_guige{
						position: relative;
						width: 9.48rem;
						height: 1.0333rem;
						margin: 0.4rem 0 0;
						background-color: #f2f2f2;
						border-radius: 1.4rem;
						padding: 0 1rem 0 0.4rem;
					}
					.content_guige::after{
						content: "";
						font-family: icomoon;
						position: absolute;
						height: 0.8rem;
						width: 0.8rem;
						right: 0.6rem;
						top: -0.2rem;
						font-size: 0.8rem;
						margin: 0 0 0 1rem;
						line-height: 1.8rem;
					}
					
					.discount_line{
						position: relative;
						width: 6.84rem;
						height:1.05rem;
						margin: 0.333rem 0 0;
						background-color: #f2f2f2;
						border-radius: 1.4rem;
						padding: 0 1rem 0 0.4rem;
						white-space: nowrap;
					}
					.discount_line::after{
						content: "";
						font-family: icomoon;
						position: absolute;
						height: 0.8rem;
						width: 0.8rem;
						right: 0.6rem;
						top: -0.2rem;
						font-size: 0.8rem;
						margin: 0 0 0 1rem;
						line-height: 1.8rem;
						// transform: scale(0.5);
					}
					
					
					.price_line{
						width: 100%;
						height: 1.8rem;
						margin:0.333rem 0 0 ;
						display: flex;
						justify-content: space-between;
						align-items: center;
						.price{
							height: 100%;
							color: #F2270C;
							
							em{
								font-size:1.2rem;
								font-weight: bold;
								font-style: normal;
							}
						}
						.num_wrap{
							width: 4.4986rem;
							height:1rem;
							display: flex;
							justify-content: space-between;
							align-items: center;
							.jian{
								display: block;
								height: 1rem;
								width: 1rem;
								font-size: 1.2rem;
								font-weight: bold;
								line-height: 1rem;
								text-align: left;
							}
							.disable{
								color: #CCCCCC;
							}
							.num_text{
								input{
									height: 1rem;
									width: 2.398666rem;
									background-color: #F2F2F2;
									text-align: center;
								}
							}
							.add{
								display: block;
								height: 1rem;
								width: 1rem;
								font-size: 1rem;
								font-weight: bold;
								line-height: 1rem;
								text-align: right;
							}

						}
					}
					.m_action{
						width: 100%;
						height: 1rem;
						margin: 0.6667rem 0 0;
						text-align: right;
					}
					.m_action_item{
						height: 0.9334rem;
						padding: 0 0.667rem;
					}
					.m_action_item:nth-child(1){
						position: relative;
					}
					.m_action_item:nth-child(1)::after{
						content: "";
						position: absolute;
						height: 0.667rem;
						width: 0.1rem;
						right: 0;
						top: 0.25rem;
						
						background-color: #CCCCCC;
						// font-size: 0.8rem;
						// margin: 0 0 0 1rem;
						// line-height: 1.8rem;
						// transform: scale(0.5);
					}
					.goods_line{
						width: 100%;
						height: 1.2rem;
						margin: 0.6667rem 0 0;
						.goods_line_des{
							position: relative;
							height: 100%;
							width: 3.45rem;
							padding: 0 0.8rem 0 0;
							white-space: nowrap;
						}
						.goods_line_des::after{
							content: "";
							font-family: icomoon;
							position: absolute;
							height: 0.8rem;
							width: 0.8rem;
							right: 0rem;
							top: 0.3rem;
						}
					}
				}
			}
		}
	}
}


.cart_tj_box{
	width: 100%;
	text-align: center;
	.cart_tj_title{
		position: relative;
		 width:25rem;
		 height: 0.8rem;
		 margin: 1rem auto;
		 text-align: center;
		  
		 span{
			 position: relative;
			 display: block;
			 width: 6.8rem;
			 height: 0.93rem;
			 color: #999999;
			 padding: 0 1rem;
			 font-size: 0.8rem;
			 margin: 0 auto;
			 line-height: 0.93rem;
			 background-color:#f0f2f5 ;
			 z-index: 1;
		 }
		 span::before{
		 	position: absolute;
		 	content: "";
		 	top: 50%;
		 	margin-top: -2px;
		 	width: 0.26rem;
		 	height:0.26rem;
		 	left:-0.2rem;
		 	background-color: #ccc;
		 	-webkit-transform: rotate(45deg);
		 	transform: rotate(45deg);
		 }
		 span::after{
			position: absolute;
			content: "";
			top: 50%;
			margin-top: -2px;
			width: 0.26rem;
			height:0.26rem;
			right:-0.2rem;
			background-color: #ccc;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		 }
	}
	
	.cart_tj_title::after{
			position: absolute;
		    content: "";
		    pointer-events: none;
		    background-color: #ccc;
		    height: 1px;
		    top: 0;
		    left: 10px;
		    right: 10px;
		    top: 50%;
	}
	.tj_item_box{
		width: 25rem;
		margin: 0 auto;
		ul{
			width:100%;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			overflow: hidden;
				li{
					font-size: 0.8rem;
					color: #666666;
					background-color: #FFFFFF;
					width:12.4rem;
					height: 16.3rem;
					margin: 0 0 0.067rem;
					padding: 1rem 1rem 0;
					border-radius:0.8rem;
					.item_cover{
						height: 100%;
						width: 100%;
						.item_img{
							height: 10.466rem;
							width: 10.466rem;
							img{
								width: 100%;
							}
						}
						.item_info{
							position: relative;
							height:4.067rem;
							width: 100%;
							.item_text{

								height: 2.35rem;
								width: 100%;
								margin: 0.8rem 0.2667rem ;
								overflow: hidden;
								// white-space: nowrap;
								// text-overflow: ellipsis;
								// display: -webkit-box;
								// -webkit-line-clamp: 2;
								// -webkit-box-orient: vertical;
								 // transform: scale(0.8);
								.item_icon{
									// transform: scale(1.5);
									height: 100%;
									width: 100%;	
									position: relative;
									text-indent: 1.5rem;
									
									img{
									 position: absolute;
									 display: line-block;
									 width: 1.6rem;
									 height: 0.93rem;
									 line-height: 0.93rem;
									 top: 0;
									 left: 0;
									
									}
								}
		
							}
							.item_price{
								position: absolute;
								height:1.4rem;
								width: 100%;
								display: flex;
								justify-content: flex-start;
								font-size: 0.93rem;
								color: #E93B3D;
								line-height: 1.4rem;
								bottom: 0;
								left:0;
								.price_text{
									font-size: 0.8rem;
									margin: -0.15rem 0.2rem 0 0;
									em{
										font-size: 1.06rem;
										font-style: normal;
									}
								}
								.cell_text{
									height: 1rem;
									width: 2rem;
									line-height: 1rem;						
									span{
										display: block;
										width: 100%;
										height: 100%;
										font-size: 0.8rem;
										border: 0.01rem  solid #E93B3D;
										vertical-align: middle;
										padding: 0 0.01rem;
										margin-top: 0.1rem;
									}
								}
								.add_cart{		
									position: absolute;
									right: 0;
									height: 1.6rem;
									width: 2rem;
								}
							}

						}
						
					}
				}	
				
			}
		
	}
	

}


.shopcart_btm_tips_box{
	position: fixed;
	bottom: 6.3rem;
	height: 2.933rem;
	width: 100%;
	z-index: 5;
	.shopcart_btm_tips{
		position: relative;
		height:100%;
		width: 25rem;
		font-size: 0.8rem;
		padding: 0.333rem 0 0.333rem 2.8rem;
		background: #fcf6ed;
		color: #de8c17;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
			// background:url(../img/jd-buycart/3.png) no-repeat;
		.shopcart_btm_tips_text{
			height: 1.2rem;
			width: 16.53rem;
			color: #de8c17;
			span{
				color: #F2270C;
				margin: 0 0.333rem;
				padding: 0 0.333rem 0.533rem;
			}
		}
		.shopcart_btm_tips_link{
			height: 2.133rem;
			width:5.666rem ;
			line-height: 2.133rem;
			text-align: right;
			color: red;
			margin-right: 1rem;
		}
	}
	
	.shopcart_btm_tips::before{
		content: "";
		position: absolute;
		background: url(../img/jd-buycart/3.png) no-repeat;
		height: 3.8rem;
		width: 3.8rem;
		transform: scale(0.5);
		left: -0.3rem;
		top: -0.5rem;
		line-height: 3.8rem;
	}
}

.fixBar_selected{
	position: fixed;
	bottom: 3rem;
	height: 3.333rem;
	width: 100%;
	z-index: 5;
	.all_selected{
		position: relative;
		height: 100%;
		width: 25rem;
		margin: 0 auto;
		background-color: rgba(255,255,255,0.95);
		padding: 0 0 0 3.2rem;
		font-size: 0.8rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 0.05rem solid #f0f2f5;
		
		.all_selsect{
			position: absolute;
			height: 100%;
			width: 3.33rem;
			left: 0;
			top: -0.1rem;
			text-align: center;

		}
		.all_selsect::before{
			content: "";
			font-family: icomoon;
			position: absolute;
			height: 2.1rem;
			width: 2.1rem;
			left: 0;
			top: 0.8rem;
			font-size: 1.4rem;
			margin: 0 0 0 1rem;
			line-height: 1.8rem;
			display: block;
			
		}
		.all_selsect::after{
			content: "";
			font-family: icomoon;
			position: absolute;
			height: 3.5rem;
			width: 3.5rem;
			left: -0.65rem;
			top: 0rem;  
			font-size: 1.45rem;
			margin: 0 0 0 1rem;
			line-height: 1.8rem;
			transform: scale(0.5);
			background: url(../img/jd-buycart/8.png) no-repeat;
			display: block;
			text-align: center;
		}
		
		.total_price{
			// position: relative;
			height:100%;
			width:10rem;
			color: #262626;
			padding-right: 1rem;
			font-size: 1rem;
			vertical-align: middle;
			.all_price_oneline{
				// position: absolute;
				
				height: 1rem;
				width: 9rem;
				font-size:1rem ;
				font-weight: bold;
				line-height: 1rem;
				text-align: right;
				 margin-top: 0.5rem;
				.all_price_oneline_text{
					font-weight: normal;
				}
				.price_num{

				}	
			}		
			.all_price_twoline{
				// position: absolute;
				height: 1.06rem;
				width: 9rem;
				font-size: 0.8rem;
				padding: 0.266rem 0 0;
				line-height: 1.06rem;
				text-align: right;
			
			}
			
		}
		.section_buy{
			height:2.533rem;
			// width:7.53rem;
			padding: 0 0.8rem;
			font-size: 0.93rem;
			background-color: #f2270c;
			color: #FFFFFF;
			font-weight: bold;
			border-radius: 1.6rem;
			line-height: 2.533rem;
			margin: 0.4rem 0.8rem 0.4rem 0rem;
		}
	}
}
	
