.mine{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #f7f7f7;
}

header{
	height: 3rem;
	width: 100%;
	.top-speak{
		height: 100%;
		width: 25rem;
		margin: 0 auto;
		background-color: white;
		display: flex;
		justify-content: space-between;
		font-size: 1.06rem;
		.return-view{
			height: 2.933rem;
			width:2.66rem ;
			line-height: 2.933rem;
			text-align: center;
			i{
				font-size: 1.4rem;
			}
		}
		.title-text{
			height: 2.933rem;
			width: 15.66rem;
			text-align: center;
			line-height: 2.933rem;
			span{
			}
			
		}
		.more-nav{
			height: 2.933rem;
			width:2.66rem ;
			span{
				display:block;
				font-size: 2rem;
				height: 1.3rem;
				width: 1.3rem;
				margin: 0.8rem 0.8rem 0.8rem 0.66rem;
				line-height: 0rem;
			}
		}
	}
	
}

.top-user{
	height: 12.6rem;
	width: 100%;
	.top-user-box{
		height: 100%;
		width: 25rem;
		margin: 0 auto;
		background: linear-gradient(left,#ff295d,#f62d1f);
		background: -webkit-linear-gradient(left,#ff295d,#f62d1f);
		color: #FFFFFF;
		font-size: 0.93rem;
		padding: 0.8rem 0 0.66rem;
		.user_info{
			position: relative;
			width: 100%;
			height: 4.66rem;
			padding:  0 0 1.2rem 1.2rem;
			.user_info_head{
				height:3.4667rem;
				width:3.4667rem;
				img{
					height: 3.33rem;
					width: 3.33rem;
				}
			}
			.user_real_name{
				position: absolute;
				left: 0.33rem;
				bottom:1rem ;
				height: 1rem;
				width: 5.33rem;
				font-size: 0.8rem;
				padding: 0 0.93rem 0 0.4rem;
				background-color: rgba(0,0,0,0.5);
				color: rgba(255,255,255,0.7);
				border-radius: 1rem;
				line-height: 1rem;
			}
			.user_real_name::after{
					position: absolute;
				    font-family: "icomoon";
				    content: "";
					right: 0;
					top: 0.1rem;
			}
			.user_info_message{
				position: absolute;
				width:20.33rem;
				height:3.13rem;
				padding-left:1rem;
				right: 0;
				top: 0;
				.user_name{
					height:1.4rem ;
					width: 19.3rem;
					font-size: 1.2rem;
					line-height: 1.4rem;
					i{
						font-size: 0.5rem;
						background-color: rgba(255,255,255,0.5);
						border-radius: 1rem;
						color: rgba(250,250,250,0.7);
					}
				}

				.hor_tips{
					height:1.06rem;
					width:19.3rem ;
					display: flex;
					justify-content: left;
					margin: 0.66rem 0 0;
					font-size: 0.93rem;
					color: #FFFFFF;
					
					.notice{
						height:1.06rem;
						line-height: 1.06rem;
						padding: 0 0.53rem;
						background-color: rgba(0,0,0,0.16);
						border-radius: 1rem;
						transform: scale(0.9);
						font-family: "宋体";
						font-weight: bold;
					}
					.x_arrow{
						position: relative;
						height:1.06rem ;
						line-height: 1.06rem;
						margin-right: 1rem;
						padding: 0 0.93rem 0 0.53rem;
						background-color: rgba(0,0,0,0.16);
						border-radius: 1rem;
						transform: scale(0.9);
					}
					.x_arrow::after{
							position: absolute;
						    font-family: "icomoon";
						    content: "";
							right: 0;
							top: 0.1rem;
							color: rgba(255,255,255,0.5);
					}
				}
			}
			.shezhi{
				position: absolute;
				right: 1rem;
				font-size: 1.7rem;
				top: 0;
			}
		}
		.s_group{
			height:3.33rem;
			width: 100%;
			padding: 0 0.93rem;
			font-size: 0.93rem;
			display: flex;
			justify-content: space-around;
			font-size: 0.8rem;
			color: #FFFFFF;
			.s_group_item{
				height: 3.33rem;
				width: 7.711rem;
				text-align: center;
				.number{
					height: 1.06rem;
					width: 100%;
					font-weight: bold;
					font-size: 1.06rem;
				}
				span{
					display: block;
					height: 2.26rem;
					width: 100%;
					line-height: 2.26rem;
				}
			}
		}	
		
		.v_message{
			height: 2.8rem;
			width: 22.6rem;
			margin: 6px auto 0;
			background-color: #1d274b;
			border-radius: 0.8rem;
			.v_inner{
				width: 100%;
				height: 2.8rem;
				padding: 0 0.66rem;
				line-height: 2.8rem;
				display: flex;
				align-items: center;
				.v_line{
					width:21.23rem;
					height: 1.2rem;
					display: flex;
					justify-content: space-between;
					line-height: 1.2rem;
					.v_line_left{
						position: relative;
						width: 14.532rem;
						height: 100%;
						color: #ffe678;
						font-size: 0.8rem;
						padding: 0 0 0 5.2rem;
					}
					.v_line_left::before{
						position:absolute;
						// font-family: "icomoon";
						content: "";
						left: -1.95rem;
						top: -0.2rem;
						// font-size: 1rem;
						color: #c3b572;
						background: url(../img/jd-mine/plus.png) no-repeat;
						width: 7.8rem;
						height: 2rem;
						transform: scale(0.52);
					}
					
					.v_line_left::after{
						position:absolute;
						content: "";
						background-color: #c3b572;
						left: 4.55rem;
						top: 0.5rem;
						font-size: 1rem;
						color: #c3b572;
						height: 0.46rem;
						width: 0.06667rem;
					}
					.v_line_right{
						position: relative;
						height: 100%;
						width: 5rem;
						color: #262626;
						padding: 0 0.66rem;
						font-size: 0.8rem;
						background-color: #fddf67;
						border-radius: 1rem;
					}
					.v_line_right::after{
						position: absolute;
						font-family: "icomoon";
						content: "";
						right: 0.3rem;
						top: 0.1rem;
						font-size: 1rem;
					}
				}
			}
		}
	}
}

.xlist_group{
		height: 5.86rem;
		width: 100%;
		margin: -1.34rem 0 1rem;
		padding:0.533rem 0 0;
		.rel_contaniner{
			height: 5.333rem;
			width:25rem;
			background-color: white;
			border-radius: 0.8rem;
			display: flex;
			margin: 0 auto;
			align-items: center;
			.top_line_box{
				width: 100%;
				height: 3.4rem;
				padding: 0 0.93rem;
				display: flex;
				justify-content: space-around;
				.x_item{
					height: 100%;
					width: 5.783rem;
					text-align: center;
					img{
						font-size: 0.93rem;
						width: 1.75rem;
						height: 1.75rem;
					}
					span{
						display: block;
						font-size: 0.8rem;
					}
				}
				.x_item:nth-child(4) >span{
					display: block;
					height: 2rem;
					width: 100%;
					line-height: 1.8rem;
				}
				.x_item:nth-child(4){
					position: relative;
				}
				.x_item:nth-child(4)::before{
					position: absolute;
					content: "";
					background: url(../img/jd-mine/tiao.png);
					// background-color: red;
					width: 0.67rem;
					height: 4.8rem;
					left: 0;
					top: -1rem;
				}
			}	
		}
	}
	
.xlist_group_two{
	height:5.33rem;
	width: 100%;
	.x_item_line_box{
		height: 100%;
		width: 25rem;
		background-color: white;
		border-radius: 0.8rem;
		margin: 1rem auto;
		display: flex;
		justify-content: space-around;
		font-size: 1.26rem;
		padding: 0 0.93rem;
		.x_item_two{
			height: 100%;
			width: 4.627rem;
			text-align: center;
			padding: 1.13rem 0 0.66rem;
			line-height: 1.23rem;
			span{
				display: block;
				font-weight: bold;
				color: #262626;
			}
			.cheap_text{
				margin-top: 1.06rem;
				font-size: 0.8rem;
				color: #262626;
			}
		}
				
		.x_item_two:nth-child(2){
			position: relative;
		}		
		.x_item_two:nth-child(2) >span{
			font-size: 0.8rem;
		}
		.x_item_two:nth-child(2) >span:nth-child(1){
			position: absolute;
			top: 0;
			transform: scale(0.8);
			right: -1rem;
			padding: 0 0.533rem;
			color:#FFFFFF;
			background-color: #eb4342;
			background: -webkit-linear-gradient(left,#e93b3d,#ff9574);
			border-top-left-radius: 1.5rem;
			border-bottom-right-radius: 1.2rem;
			border-top-right-radius: 1.2rem;
			font-weight: 500;
		}
		.x_my_money{
			position: relative;
			height: 100%;
			width: 4.627rem;
			text-align: center;
			padding: 1.13rem 0 0.66rem;
			line-height: 1.23rem;

			.money_bag{
				width: 4.627rem;
				height: 1.75rem;
				margin-top: -0.53rem;
				img{
					display: block;
					width: 1.70rem;
					height: 1.70rem;
					margin: 0.3rem auto 0;	
				}
			}
			.cheap_text{
				margin-top: 0.78rem;
				font-size: 0.8rem;
				color: #262626;
			}
		}
		.x_my_money::before{
			position: absolute;
			content: "";
			background: url(../img/jd-mine/tiao.png);
			// background-color: red;
			width: 0.67rem;
			height: 4.8rem;
			left: -0.3rem;
			top: 0rem;
		}
		
		
		
	}
}

.content_linear{
	height:18rem;
	width: 100%;
	.logo_user{
		height:100%;
		width: 25rem;
		margin: 1rem auto 1rem;
		background-color: #FFFFFF;
		border-radius: 0.8rem;
		.logo_title_box{
			position: relative;
			height:2.533rem;
			width: 100%;
			font-size: 0.93rem;
			padding: 0 0 0 1.2rem;
			color: #2e2d2d;
			font-weight: bold;
			line-height: 2.533rem;
		}
		.logo_title_box::after{
			position: absolute;
			content: "";
			width: 100%;
			height: 0.05rem;
			background-color: #f2f2f2;
			bottom: 0;
			left: 0;
		}
		
		.logo_box{
			height:15.46rem;
			width: 100%;
			padding: 0 0 0.67rem;
			display: flex;
			align-content: flex-start;
			flex-wrap: wrap;
			position: relative;
			.item_box{
				height:4.8rem;
				width:6.25rem;
				padding: 0.8rem 0 0;
				text-align: center;
				.icon_text{
					height:2.33rem ;
					width: 2.33rem;
					margin: 0 1.9583rem 0.4rem;
					img{
						width: 100%;
					}
				}
				span{
					display: block;
					font-size: 0.8rem;
				}
			}
		// 	.item_box:nth-child(9){
		// 		position: absolute;
		
		// 	}
		}
		
	}
}

.mine_tj_box{
	width: 100%;
	text-align: center;
	.mine_tj_title{
		position: relative;
		 width:25rem;
		 height: 0.8rem;
		 margin: 1rem auto;
		 text-align: center;
		  
		 span{
			 position: relative;
			 display: block;
			 width: 5.2rem;
			 height: 0.93rem;
			 color: #999999;
			 padding: 0 1rem;
			 font-size: 0.8rem;
			 margin: 0 auto;
			 line-height: 0.93rem;
			 background-color:#f0f2f5 ;
			 z-index: 1;
		 }
		 span::before{
		 	position: absolute;
		 	content: "";
		 	top: 50%;
		 	margin-top: -2px;
		 	width: 0.26rem;
		 	height:0.26rem;
		 	left:-0.2rem;
		 	background-color: #ccc;
		 	-webkit-transform: rotate(45deg);
		 	transform: rotate(45deg);
		 }
		 span::after{
			position: absolute;
			content: "";
			top: 50%;
			margin-top: -2px;
			width: 0.26rem;
			height:0.26rem;
			right:-0.2rem;
			background-color: #ccc;
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
		 }
	}
	
	.mine_tj_title::after{
			position: absolute;
		    content: "";
		    pointer-events: none;
		    background-color: #ccc;
		    height: 1px;
		    top: 0;
		    left: 10px;
		    right: 10px;
		    top: 50%;
	}
	.tj_item_box{
		width: 25rem;
		margin: 0 auto;
		ul{
			width:100%;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-wrap: wrap;
			overflow: hidden;
				li{
					font-size: 0.8rem;
					color: #666666;
					background-color: #FFFFFF;
					width:12.4rem;
					height: 16.3rem;
					margin: 0 0 0.067rem;
					padding: 1rem 1rem 0;
					border-radius:0.8rem;
					.item_cover{
						height: 100%;
						width: 100%;
						.item_img{
							height: 10.466rem;
							width: 10.466rem;
							img{
								width: 100%;
							}
						}
						.item_info{
							position: relative;
							height:4.067rem;
							width: 100%;
							.item_text{
								height: 2.35rem;
								width: 100%;
								margin: 0.8rem 0.2667rem ;
								overflow: hidden;
								white-space: wrap;
								text-overflow: ellipsis; 
								display: -webkit-box;
								-webkit-line-clamp: 2;
								 // transform: scale(0.8);
								.item_icon{
									// transform: scale(1.5);
									height: 100%;
									width: 100%;	
									position: relative;
									text-indent: 1.5rem;
									
									img{
									 position: absolute;
									 display: line-block;
									 width: 1.6rem;
									 height: 0.93rem;
									 line-height: 0.93rem;
									 top: 0;
									 left: 0;
									
									}
								}
		
							}
							.item_price{
								position: absolute;
								height:1.4rem;
								width: 100%;
								display: flex;
								justify-content: flex-start;
								font-size: 0.93rem;
								color: #E93B3D;
								line-height: 1.4rem;
								bottom: 0;
								left:0;
								.price_text{
									font-size: 0.8rem;
									margin: -0.15rem 0.2rem 0 0;
									em{
										font-size: 1.06rem;
										font-style: normal;
									}
								}
								.cell_text{
									height: 1rem;
									width: 2rem;
									line-height: 1rem;						
									span{
										display: block;
										width: 100%;
										height: 100%;
										font-size: 0.8rem;
										border: 0.01rem  solid #E93B3D;
										vertical-align: middle;
										padding: 0 0.01rem;
										margin-top: 0.1rem;
									}
								}
							}

						}
						
					}
				}	
				
			}
		
	}
	

}
.bg_jd_icon{
	height: 8rem;
	width:100%;
	.jd_icon_footer{
		width:25rem;
		height: 8rem;
		margin: 0 auto;
		background-color: #FFFFFF;
		display: flex;
		// align-items: center;
		.icon_box{
			height: 1.33rem;
			width: 100%;
			margin: 1.66rem auto 5rem;
			img{
				display: block;
				width: 6.67rem;
				height: 100%;
				margin: 0 auto;
				
			}
		}
	}
}

.footer-common{
	height: 10rem;
	width: 25rem;
	// padding: 0 0 3.6rem;
	font-size: 0.93rem;
	background-color: white;
	margin: 0 auto;
	.footer-text:nth-child(1){
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding: 1.1rem 1.33rem;
		border-bottom: 0.01rem solid #e5e5e5;
		border-top: 0.01rem solid #e5e5e5;
		li:nth-child(1),li:nth-child(2),li:nth-child(3){
			width: 5.58rem;
			padding: 0 0.33rem;
			a{
				position: relative;
				display: block;
				width: 100%;
				text-align: center;
				color: #848689;
				text-overflow: ellipsis;
				white-space: wrap;
				overflow: hidden;
			}
			a::after{
				position: absolute;
				content: "";
				background-color: #e5e5e5;
				height: 1.1rem;
				width: 0.08rem;
				top:0;
				right: 0;
			}
		}
		li:nth-child(4){
			width: 5.58rem;
			padding: 0 0.33rem;
			a{
				position: relative;
				display: block;
				width: 100%;
				text-align: center;
				color: #848689;
			}
		}
	}

	.footer-logo:nth-child(2){
		width: 100%;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		padding: 0.2rem 0.5rem;
		border-bottom: 0.01rem solid #e5e5e5;
		li{
			width:100%;
			height: 4rem;
			a{
				display: block;
				width: 100%;
				text-align: center;
				img{
					width: 4rem;
				}
			}
		}
	}

	.common-copyright{
		font-size: 0.8rem;
		color: #848689;
		padding: 0.5rem 0;
		text-align: center;
	}
}
